.expContainer {
    position: relative;
    top: 575px;
}
.expHeader {
    color: #8CC3A4;
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 21px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.expContainerMed {
    position: relative;
    top: 700px;
}
.expHeaderMed {
    color: #8CC3A4;
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 21px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.expContainerLg {
    position: relative;
    top: 675px;
}
.expHeaderLg {
    color: #8CC3A4;
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 21px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.expContainerXXL {
    position: relative;
    top: 700px;
}
.expHeaderXXL {
    color: #8CC3A4;
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 21px;
    font-weight: bold;
    letter-spacing: 1.5px;
}


.expCardContainerSm {
    color: #ECEBE4;
    height: 25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.borderSm {
    margin-top: 20px;
}
.expJobSm {
    margin-bottom: 20px;
}
.expJobSm:first-child {
    border-bottom: 1px solid #ECEBE4;
    padding-bottom: 25px;
}
.expJobSm:nth-child(2) {
    border-bottom: 1px solid #ECEBE4;
    padding-bottom: 25px;
}
.expJobSm:last-child {
    padding-bottom: 25px;
}
.expComSm {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 21px;
    letter-spacing: 1px;
}
.expRolSm {
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #ECEBE4;
    width: 80%;
    position: relative;
    left: 10%;
}
.expSkiSm {
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 10px;
}


.expCardContainerMed {
    color: #ECEBE4;
    height: 25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.borderMed {
    margin-top: 20px;
}
.expJobMed {
    margin-bottom: 30px;
}
.expJobMed:first-child {
    border-bottom: 1px solid #ECEBE4;
    position: relative;
    width: 60%;
    left: 20%;
    padding-bottom: 25px;
}
.expJobMed:nth-child(2) {
    border-bottom: 1px solid #ECEBE4;
    position: relative;
    width: 60%;
    left: 20%;
    padding-bottom: 25px;
}
.expJobMed:last-child {
    margin-bottom: 30px;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 25px;
}
.expComMed {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 21px;
    letter-spacing: 1px;
}
.expRolMed {
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #ECEBE4;
    width: 80%;
    position: relative;
    left: 10%;
}
.expSkiMed {
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 10px;
}


.expCardContainerLg {
    color: #ECEBE4;
    height: 25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.borderLg {
    margin-top: 20px;
}
.expJobLg {
    margin-bottom: 30px;
}
.expJobLg:first-child {
    border-bottom: 1px solid #ECEBE4;
    position: relative;
    width: 60%;
    left: 20%;
    padding-bottom: 35px;
}
.expJobLg:nth-child(2) {
    border-bottom: 1px solid #ECEBE4;
    position: relative;
    width: 60%;
    left: 20%;
    padding-bottom: 35px;
}
.expJobLg:last-child {
    margin-bottom: 30px;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 35px;
}
.expComLg {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 22px;
    letter-spacing: 1px;
}
.expRolLg {
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #ECEBE4;
    width: 60%;
    position: relative;
    left: 20%;
    padding: 5px;
}
.expSkiLg {
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 10px;
}


.expCardContainerXXL {
    color: #ECEBE4;
    height: 25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.borderXXL {
    margin-top: 20px;
}
.expJobXXL {
    margin-bottom: 40px;
}
.expJobXXL:first-child {
    border-bottom: 2px solid #ECEBE4;
    position: relative;
    width: 60%;
    left: 20%;
    padding-bottom: 35px;
}
.expJobXXL:nth-child(2) {
    border-bottom: 2px solid #ECEBE4;
    position: relative;
    width: 60%;
    left: 20%;
    padding-bottom: 35px;
}
.expJobXXL:last-child {
    margin-bottom: 30px;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 35px;
}
.expComXXL {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 1px;
}
.expRolXXL {
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid #ECEBE4;
    width: 60%;
    position: relative;
    left: 20%;
    padding: 5px;
}
.expSkiXXL {
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 10px;
}