.navbarMenu {
    font-size: 23px;
    color: #8CC3A4;
    position: fixed;
    right: 20px;
    top: 11px;
    z-index: 50;
}
.menuItems {
    position: fixed;
    background-color: #092327;
    color: #ECEBE4;
    top: 0;
    left: 0;
    padding-top: 10px;
    width: 13em;
    height: 100%;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menuItems > span {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
.menuMask {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 40%;
    z-index: 50;
}


.navBarItemSm {
    color: #8CC3A4;
    text-decoration: none;
}
.navBarItemSm:hover {
    cursor: pointer;
}


.navBarMenuSecMed {
    margin-right: 55px;
}
.navBarMenuSecMed > span {
    margin-left: 30px;
    font-size: 21px;
    color: #8CC3A4;
}
.navBarItemSecMed {
    color: #8CC3A4;
    text-decoration: none;
}
.navBarItemSecMed:hover {
    cursor: pointer;
}



.navBarMenuMed {
    margin-right: 30px;
}
.navBarMenuMed > span {
    margin-left: 30px;
    font-size: 21px;
    color: #8CC3A4;
}
.navBarItemMed {
    color: #8CC3A4;
    text-decoration: none;
}
.navBarItemMed:hover {
    cursor: pointer;
}


.navBarMenuLarge {
    margin-right: 75px;
}
.navBarMenuLarge > span {
    font-size: 23px;
    margin-left: 30px;
    color: #8CC3A4;
}
.navBarItemLg {
    color: #8CC3A4;
    text-decoration: none;
}
.navBarItemLg:hover {
    cursor: pointer;
}


.navBarMenuXXL > span {
    font-size: 23px;
    margin-left: 30px;
    margin-right: 20px;
    color: #8CC3A4;
}
.navBarItemXXL {
    color: #8CC3A4;
    text-decoration: none;
}
.navBarItemXXL:hover {
    cursor: pointer;
}
